span.blocks{
    display: inline-block;
}

a.link{
    text-decoration: none;
    color: black;
}

a.link:hover{
    background-color: rgba(0, 234, 255, 0.25);
    padding: 10px;
    transition: 0.5s;
}